doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    .wrapper
      .header
        button#autorization.autorization Авторизоваться
      .main
        .main_photo 
          img(src="/assets/img/ava141.jpg", class="ava", alt="фото")          

        .main_name Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptatibus rem non itaque magni officiis nostrum necessitatibus id expedita  
        .main_note
        .main_media-buttons
        nav.nav
    .footer
      .footer_copyrights
      .footer_comments
