doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    .wrapper
      .header
        button#autorization.autorization Авторизоваться
      .main.main-hover
        .main_break
        .main_photo
          img(src="assets/img/ava141.jpg", class="ava", alt="фото")

        .main_name Алексей Лапицкий
        .main_note Личный сайт веб разработчика
        nav.social
          ul.social_list
            for name,index in socials
              li(id="social_list-item_"+name, class="social_list-item")
                a(href=socials_links[index],class="social_list-link")
                  img(class="nav_social_svg", src=socials_img[index], alt="меню: "+name)
        nav.nav
          ul.nav_list
            for name,index in navs
              if index>0
                li(id="nav_list-item_"+index, class="nav_list-item-separator")  
              li(id="nav_list-item_"+index, class="nav_list-item")
                a(href=navs_links[index], alt="меню: "+name, class="nav_list-link") #{name}
    .footer
      .footer_copyrights Алексей Лапицкий
      .footer_comments создано с любовью в LoftSchool 2016
