
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
  font-style: medium;
   }

.html {
	position: relative;
  min-height: 100%;	
}

.body {
	margin: 0 0 73px;
}

.wrapper {
	background-image: url("../img/back320.jpg");
	background-repeat: no-repeat;
	width: 320px;
	height: 568px;
}

.autorization {
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 20px;
	width: 147px;
	height: 40px;
	font-family: Roboto-Medium, serif;
	font-size: 14px;
	color: #fff;
	background-color: transparent;
}

.main {
	border-radius: 5px;
	background-color: rgba(18, 38, 32, 0.6);
	width: 300px;
	height: 395px;
}

.main_photo {
	width: 141px;
	height: 141px;
	margin: 0;
}

.footer {
	background-color: #fff;
	height: 73px;
}

.clearfix:before,
.clearfix:after {
 content: "";
 display: table;
}
.clearfix:after {
 clear: both;
} 
