
@font-face {
  font-family: Roboto-Medium;
  src: url("../img/fonts/Roboto-Medium.ttf");
  font-style: medium;
   }


.body {
	height: 100%;
}

.wrapper {
	background-image: url("../img/back320.jpg");
	background-repeat: no-repeat;
	width: 320px;
	height: 568px;
}

.autorization {
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 20px;
	width: 147px;
	height: 40px;
	font-family: Roboto-Medium, "Times New Roman", serif;
}

.main {
	border-radius: 5px;
	background-color: rgba(18, 38, 32, 0.6);
	width: 300px;
	height: 395px;
}

.clearfix:before,
.clearfix:after {
 content: "";
 display: table;
}
.clearfix:after {
 clear: both;
} 
