@mixin clearfix {
  &:before, after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


@font-face {
  font-family: Roboto-Medium;
  src: url("../img/fonts/Roboto-Medium.ttf");
  font-style: medium;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../img/fonts/Roboto-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: Roboto-Light;
  src: url("../img/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Webissimo-Regular;
  src: url("../img/fonts/Sansus-Webissimo-Regular.ttf");
  font-style: normal;
}


ul {
	list-style-type: none;
	margin: 0 0; 
	@include clearfix;
}

li {
	margin: 0 0; 
	float: left;
}

a {
	display:block;
	text-decoration:none;
	color: inherit;
}

html,
body {
  height: 100%;
  max-width: 1800px;
}

body {
	background-repeat: no-repeat;
}

@import 'style_welcome';
@import 'style_about';
