body {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	width: 100%;

	@media screen and (min-width: 1200px) {
		min-width: 1200px;
		background-image: url("../img/back1800.jpg");
	}

	@media screen and (max-width: 1200px) {
		max-width: 1200px;
		background-image: url("../img/back1200.jpg");
		}

	@media screen and (max-width: 768px) {
		max-width: 768px;
		background-image: url("../img/back768.jpg");
		}

	@media screen and (max-width: 320px) {
		max-width: 320px;
		background-image: url("../img/back320.jpg");
		}
}

.wrapper {
	display: inline-block;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;

}


.header {
	position: relative;
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
}

.wrap-animation {
	display: block;
	position: relative;
	margin: 0 auto;

	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	-ms-transition: -moz-transform 0.5s;
	-o-transition: -o-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d; 	
}

.wrap-animation-flip {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-ms-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}


.autorization {
	width: 147px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: transparent;
	text-align: center;
	font-family: Roboto-Medium, serif;
	font-size: 14px;
	display: inline-block;
}

.autorization:hover {
	background-color: rgba(18, 38, 32, 0.6);
}

.autorization a {
	height: 100%;
}

.autorization-welcome {
	display: block;
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 20px;

	@media screen and (min-width: 1200px) {
		margin-top: 25px;
		margin-left: auto;
		margin-right: 100px;
	};

	@media screen and (max-width: 1200px) {
		margin-top: 20px;
		margin-left: auto;
		margin-right: 20px;
	};

	@media screen and (max-width: 768px) {
		margin-top: 20px;
		margin-left: auto;
		margin-right: 20px;
	};

	@media screen and (max-width: 320px) {
		margin: 10px auto;
	};
}

.main {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 35px auto 0;
	text-align: center;
	border-radius: 0px;
	
	@media screen and (min-width: 1200px) {
		width: 380px;
	};

	@media screen and (max-width: 1200px) {
		width: 300px;
	};

	@media screen and (max-width: 768px) {
		width: 300px;
	};

	@media screen and (max-width: 320px) {
		width: 300px;
	};

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;	
}

.autorization-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
	border-radius: 0px;
	background-color: rgba(18, 38, 32, 0.6);
	min-height: 426px;
	width: 100%;

	@media screen and (min-width: 1200px) {
		max-width: 380px;
	};

	@media screen and (max-width: 1200px) {
		max-width: 380px;
	};

	@media screen and (max-width: 768px) {
		max-width: 348px;
	};

	@media screen and (max-width: 320px) {
		max-width: 300px;
		min-height: 422px;
	};

	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

.autorization-header {
	font-family: Webissimo-Regular , serif;
	font-weight: normal;
	font-size: 2.1875rem;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin: 44px auto  25px;
	@media screen and (max-width: 320px) {
		font-size: 1.875rem;
	};
}

.autorization-delim {
	display: block;
	position: relative;
	stroke-width: 3px;
	height: 6px;
	width: 89px;
	max-width: 100%;
	stroke: #fff;
	margin: 8px auto 15px;
}

.autorization-form {
	overflow: hidden;
	margin: 30px auto 0;
}

.autorization-login, .autorization-password {
	display: block;
	margin: 10px auto 20px;
}

.autorization-login-link {
	display: inline-block;
	position: relative;
}

.autorization-login-link-input, .autorization-password-link-input {
	height: 35px;
	border: none;
	padding: 5px 10px 5px 65px;
 	font-family: Roboto-Regular, serif;
 	font-style: normal;
	font-size: 1rem;
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
	border-top-left-radius: 23px;
	border-bottom-left-radius: 23px;
	outline: none;
	
	&::-webkit-input-placeholder {
		color: rgba(#000, 0.5);
	};
	&:-moz-placeholder {
		color: rgba(#000, 0.5);
	};
	&::-moz-placeholder {
		color: rgba(#000, 0.5);
	};
	&:-ms-input-placeholder {
		color: rgba(#000, 0.5);
	};

	width: 265px;

	@media screen and (max-width: 1200px) {
		max-width: 235px;
	};

	@media screen and (max-width: 768px) {
		width: 190px;
	};

	@media screen and (max-width: 320px) {
		max-width: 155px;
		width: 100%;
	};
}


.autorization-password-link {
	display: inline-block;
	position: relative;
}


.autorization-login-icon {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 45px;
}

.autorization-password-icon {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 45px;
	height: 45px;
}

.autorization-buttons {
	background: rgba(255, 255, 255, 1);
}

.autorization-btn {
	float: left;
 	font-family: Roboto-Medium, serif;
 	font-style: normal;
	font-size: 1rem;
	line-height: 2.8125rem;
	color: #ffffff;
  font-size: 1em;
  border: none;
  background: rgba(78, 136, 57, 0.8);
  text-decoration: none;
  height: 2.8125rem;
	width: 49.5%;
}

.autorization-btn:hover {
  background: #6c9c5a;
  text-decoration: none;
}

.autorization-go-main {
	float: left;
	-webkit-border-bottom-left-radius: 0.3125em;
	-moz-border-radius-bottomleft: 0.3125em;
	border-bottom-left-radius: 0.3125em;
}

.autorization-enter {
	float: left;
	-webkit-border-bottom-right-radius: 0.3125em;
	-moz-border-radius-bottomright: 0.3125em;
	border-bottom-right-radius: 0.3125em;
}

.autorization-check-line {
	position: relative;
	margin: 10px auto;
}

.autorization-checkbox {
	display: inline-block;
	margin: 3px auto;
}

.autorization-checkbox + span {
	display: inline-block;
	position: absolute;
	left: 0;
	top: -3px;
  height: 20px;
  width: 20px;
  cursor: pointer; 
	background: url("../img/spritebox-sprite.png") no-repeat;
  background-position: 0 0;
}

.autorization-checkbox:checked  + span {
	background: url("../img/spritebox-sprite.png") no-repeat;
  background-position: -20px 0;
}


.autorization-checkbox-text {
	display: inline-block;
	font-family: Roboto-Regular,serif;
	font-weight: normal;
	color: #fff;
	font-size: 1rem;
	text-align: left;
	margin-left: 10px;
}

.autorization-check-question {
	font-family: Roboto-Bold,serif;
	font-weight: bold;
	color: #fff;
	font-size: 1rem;
	margin: 20px auto 14px;
	line-height: 1rem;
}

.autorization-check-radio {
	font-family: Roboto-Regular,serif;
	font-weight: normal;
	color: rgba(#fff, 0.8);
	font-size: 1rem;

}


.main-center {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
	
}

.main-hover:hover {
	background-color: rgba(18, 38, 32, 0.6);
}

.main_break {
	display: block;
	position: relative;
	min-height: 40px;
}

.main_photo {
	display: block;
	position: relative;
	width: 141px;
	height: 141px;
	margin: 0 auto;
}

.main_name {
	display: block;
	font-family: Roboto-Medium, serif;
	color:  rgba(255, 255, 255, 0.95);
	font-size: 21px;
	font-weight: 500;
	line-height: 21px;
	text-align: center;	
	margin: 20px auto 10px;
}

.main_note {
	display: block;
	font-family: Roboto-Medium, serif;
	color:  rgba(255, 255, 255, 0.55);
	font-size: 14px;
	font-weight: 100;
	line-height: 16px;
	text-align: center;	
	margin: 10px auto;
}

.ava {
	border-radius: 50%;
}

.main_social {
	display: inline-block;
}

.social {
	display: block;
	position: relative;
	vertical-align: middle;
	width: 170px;
	margin: 0 auto;
}

.social_list {
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
	margin: 0 auto;
}

.social_list-link {
	@media screen and (min-width: 1200px) {
		height: 35px;
		line-height: 30px;
	};

	@media screen and (max-width: 1200px) {
		height: 35px;
		line-height: 30px;
	};

	@media screen and (max-width: 768px) {
		height: 35px;
		line-height: 30px;
	};

	@media screen and (max-width: 320px) {
		height: 35px;
		line-height: 30px;
	};
}

.social_list-item {
	margin: 0 13px 0 13px;
	fill: #919f9a;
}

.social_list-item:hover {
	fill: #669933;
}



.nav_social_svg svg {
	display: inline-block;
	vertical-align: middle;
	@media screen and (min-width: 1200px) {
		height: 22px;
		line-height: 22px;
	};

	@media screen and (max-width: 1200px) {
		height: 22px;
		line-height: 22px;
	};

	@media screen and (max-width: 768px) {
		height: 22px;
		line-height: 22px;
	};

	@media screen and (max-width: 320px) {
		height: 18px;
		line-height: 18px;
	};
}

.vk-icon {
	@media screen and (min-width: 1200px) {
		height: 17px;
	};

	@media screen and (max-width: 1200px) {
		height: 17px;
	};

	@media screen and (max-width: 768px) {
		height: 17px;
	};

	@media screen and (max-width: 320px) {
		height: 13px;
	};
}

.nav {
	display: block;
	position: relative;
	height: 46px;
	line-height: 46px;
	width: 100%;
	margin: 0 auto;
	background-color: #689858;
}

.nav_list {
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
	margin: 0 auto;
}

.nav_list-item {
	display: inline-block;
	max-width: 100%;
	height: 46px;	
	top: 50%;
	font-family: Roboto-Medium;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
  text-decoration: none;
  padding: 0 23px 0 18px;
}

.nav_list-item:hover {
	background-color:  rgba(255, 255, 255, 0.55);
}

.nav_list-item-separator {
	display: inline-block;
	height: 46px;	
	top: 50%;
	width: 0;
  border-left: 2px solid #fff;

}

.nav_list-link {
}

.social_svg {
	display: inline-block;
	height: 26px;
	width: 100%;
}

.hamburger {
	display: inline-block;
	position: relative;
	@media screen and (min-width: 1200px) {
		width: 40px;
		height: 35px;
	}

	@media screen and (max-width: 1200px) {
		width: 40px;
		height: 35px;
		}

	@media screen and (max-width: 768px) {
		width: 40px;
		height: 35px;
		}

	@media screen and (max-width: 320px) {
		width: 25px;
		height: 25px;
		}
}

.hamburger:hover {
	background-color: #999;	
}

.hamburger_img {
	display: inline-block;
	position: relative;
	@media screen and (min-width: 1200px) {
		width: 40px;
		height: 35px;
	}

	@media screen and (max-width: 1200px) {
		width: 40px;
		height: 35px;
		}

	@media screen and (max-width: 768px) {
		width: 40px;
		height: 35px;
		}

	@media screen and (max-width: 320px) {
		width: 25px;
		height: 25px;
		}
}

.footer {
	display: block;
	position: relative;
	font-family: Roboto-Light;
	color: rgba(255, 255, 255, 0.55);
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	text-align: center;
}

.footer-main {
	@media screen and (min-width: 1200px) {
		height: 73px;
		margin-top: -73px;
	}

	@media screen and (max-width: 1200px) {
		height: 63px;
		margin-top: -63px;
		}

	@media screen and (max-width: 768px) {
		height: 63px;
		margin-top: -63px;
		}

	@media screen and (max-width: 320px) {
		height: 54px;
		margin-top: -54px;
		}
}

.footer-other {
	line-height: 1rem;
	@media screen and (min-width: 1200px) {
		height: 40px;
		margin-top: -40px;
	}

	@media screen and (max-width: 1200px) {
		height: 40px;
		margin-top: -40px;
		}

	@media screen and (max-width: 768px) {
		height: 40px;
		margin-top: -40px;
		}

	@media screen and (max-width: 320px) {
		height: 66px;
		margin-top: -66px;
		}
}


.footer-nav {
	display: block;
	background-color: rgba(57, 62, 66, 0.85);
	@media screen and (min-width: 1200px) {
		height: 149px;
	}

	@media screen and (max-width: 1200px) {
		height: 155px;
		}

	@media screen and (max-width: 768px) {
		height: 237px;
		}

	@media screen and (max-width: 320px) {
		height: 288px;
		}

	position: relative;
}

.footer-up {
	@media screen and (min-width: 1200px) {
		margin-top: -185px;
	}

	@media screen and (max-width: 1200px) {
		margin-top: -190px;
		}

	@media screen and (max-width: 768px) {
		margin-top: -272px;
		}

	@media screen and (max-width: 320px) {
		margin-top: -323px;
		}
}

.footer_copyrights, .footer_comments {
	display: inline-block;
	line-height: 1rem;
	
}

.footer-colored {
	background-color: rgba(108, 156, 90, 0.85);
}

