
list {
	text-align: center;
	vertical-align: middle;
}

.wrapper {
	display: inline-block;
	min-height: 100%;
}

@media screen and (min-device-width: 1800px) {
	.wrapper {
		width: 1800px;
		background-image: url("../img/back1800.jpg");
	}
}

@media screen and (max-device-width: 321px) {
	.wrapper {
		width: 320px;
		background-image: url("../img/back320.jpg");
	}
}

.header {
	position: relative;
	width: 147px;
	background-color: transparent;
	margin: 0 auto;
}

.autorization {
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 20px;
	width: 100%;
	height: 40px;
	font-family: Roboto-Medium, serif;
	font-size: 14px;
	color: #fff;
	background-color: transparent;
	margin-top: 10px;
}

.main {
	display: block;
	border-radius: 5px;
	
	@media screen and (min-device-width: 1800px) {
		width: 1800px;
	};

	@media screen and (max-device-width: 321px) {
		width: 300px;
	};

	height: 395px;
	margin: 35px auto 0;
	position: relative;
	text-align: center;
}

.main:hover {
	background-color: rgba(18, 38, 32, 0.6);
}

.main_break {
	display: block;
	position: relative;
	min-height: 40px;
}

.main_photo {
	display: block;
	position: relative;
	width: 141px;
	height: 141px;
	margin: 0 auto;
}

.main_name {
	display: block;
	font-family: Roboto-Medium, serif;
	color:  rgba(255, 255, 255, 0.95);
	font-size: 21px;
	font-weight: 500;
	line-height: 21px;
	text-align: center;	
	margin: 20px auto 10px;
}

.main_note {
	display: block;
	font-family: Roboto-Medium, serif;
	color:  rgba(255, 255, 255, 0.55);
	font-size: 14px;
	font-weight: 100;
	line-height: 16px;
	text-align: center;	
	margin: 10px auto;
}

.ava {
	border-radius: 50%;
}

.social {
	display: block;
	position: relative;
	height: 25px;
}

.social_list-item {
	height: 25px;	
	width: 25px;	
}

.social_list-item:hover {
	background-color:  rgba(255, 255, 255, 0.55);
}

.nav_social_svg {
	fill: #000;
	opacity: 0.7;
}

.nav {
	display: block;
	position: relative;
	height: 46px;
	line-height: 46px;
}

.nav_list-item {
	display: inline-block;
	height: 46px;	
	top: 50%;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Roboto-Medium;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}

.nav_list-item:hover {
	background-color:  rgba(255, 255, 255, 0.55);
}

.social_svg {
	display: inline-block;
	height: 26px;
	width: 100%;
}

.footer {
	display: block;
	background-color:  rgba(255, 255, 255, 0.55);
	height: 73px;
	margin-top: -73px;
	position: relative;

	font-family: Roboto-Light;
	color: rgba(255, 255, 255, 0.55);
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}

