
.bg-up {
	background-position: 0 -110px;
	/*background-size: 100% 10%;*/
}

.nav-poligons {
	position: relative;
	width: 100%;

	@media screen and (min-width: 1200px) {
		min-width: 100%;
	};

	@media screen and (max-width: 320px) {
		min-width: 100%;
	};

	height: 395px;
}

.nav-poligons_left {
	float: left;
	display: inline-block;
	position: relative;
	width: 50%;
}

.nav-poligons_right {
	display: inline-block;
	position: relative;
	width: 50%;
}

.nav-arrow-down {
	display: block;
	position: absolute;
	left: 50%; 
}

.top {
	@media screen and (min-width: 1200px) {
		max-width: 1800px;
	};

	@media screen and (max-width: 320px) {
		width: 320px;
	};
}

.main-about {
	@include clearfix;
	min-width: 100%;
	height: 650px;
	text-align: center;
}

.main-about_content {
	font-family: Roboto-Regular , serif;
	font-size: 16px;
	margin: 10px 0 20px 0;
	text-align: left;	
}

.about_wrapper {
	display: inline-block;
	position: relative;
	float: left;
	width: 50%;
	min-height: 100%;
	background-color: #ebefe2;
}

.head {
	float: left;
	width: 50%;
}

.main-about_head_wrapper {
	display: block;
	position: relative;
	max-width: 100%;
	height: 100%;
	background-image: url("../img/about_header.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	line-height: 125px;
	margin: 0;
}

.main-about_delim {
	display: block;
	position: relative;
	stroke: #373e42;
	stroke-width: 3px;
	height: 3px;
	width: 89px;
	max-width: 100%;
	margin: -10px auto;
}


.who {
	display: inline-block;
	float: left;
	width: 50%;
	min-height: 100%;
	background-color: #ebefe2;
}

.main-about_who_h-big {
	display: block;
	position: relative;
	max-width: 100%;
	font-family: Webissimo-Regular , serif;
	font-size: 63px;
	margin: 0;
}


.main-about_who_delim {
	display: block;
	position: relative;
	stroke: #373e42;
	stroke-width: 3px;
	height: 3px;
	width: 89px;
	max-width: 100%;
	margin: 8px auto;
}

.main-about_photo-about {
	display: inline-block;
	max-width: 437px;
	max-height: 390px;
	margin: 40px auto 22px;
}

.main-about_photo-about_ava {
	width: 100%;
}


.main-about_who_h-small {
	display: inline-block;
	position: relative;
	max-width: 100%;
	font-family: Webissimo-Regular , serif;
	color: #566358;
	font-size: 35px;
	margin: 10px auto;
}




.why {
	display: inline-block;
	float: left;
	width: 50%;
	min-height: 100%;
	background-color: #f3f4ee;
}

.main-about_why_delim {
	display: block;
	position: relative;
	stroke: #373e42;
	stroke-width: 3px;
	height: 3px;
	width: 89px;
	max-width: 100%;
	margin: 18px auto;
}

.why_wrapper {
	margin: 40px auto;
	width: 90%;
}

.why_h-small {
	display: inline-block;
	position: relative;
	max-width: 100%;
	font-family: Webissimo-Regular , serif;
	color: #566358;
	font-size: 35px;
	margin: 0 auto;
	p {
		margin: 0;
	}
}

.main-about_why_frontend {
	font-family: Roboto-Medium, serif;
	font-size: 28px;
	margin: 0;
	text-align: left;	
	color: #566358;
}

.main-about_why_backend {
	font-family: Roboto-Medium, serif;
	font-size: 28px;
	margin: 0;
	text-align: left;	
	color: #566358;
}

.main-about_why_workflow {
	font-family: Roboto-Medium, serif;
	font-size: 28px;
	margin: 0;
	text-align: left;	
	color: #566358;
}

.main-about_why_skills_skill {
	position: relative;
	font-family: Roboto-Medium, serif;
	line-height: 14px;
	text-align: center;
	color: #4e8839;
	height: 100%;
}

.main-about_why_skills_skill_name {
	display: inline-block;
	position: absolute;
	font-size: 14px;
	width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.g-circles {
 	fill: none;
 	stroke-width: 20px;
 	@media screen and (min-width: 1200px) {
		width: 120px;
		height: 120px;
		max-width: 120px;
		max-height: 120px;
	}
  @media screen and (max-width: 1200px) {
		width: 120px;
		height: 120px;
		max-width: 120px;
		max-height: 120px;
	}
  @media screen and (max-width: 320px) {
		width: 111px;
		height: 111px;
		max-width: 111px;
		max-height: 111px;
	}
}

.circle_experience {
	r: 50px;
	cx: 60px;
	cy: 60px;
	stroke: #DDDAD3;
	fill: none;
	transform: rotate(90deg);
	transform-origin: 50% 50%;
}

.sector {
	stroke: #76A365;
 	stroke-dasharray: 157 314;
 	transform-origin: 50% 50%;
 	transition: all 1s;
}
