

.main-about {
	@include clearfix;
	min-width: 100%;
	height: 650px;
}


.head {
	display: inline-block;
	position: relative;

	float: left;
	width: 24%;
	min-height: 100%;
	text-align: center;
	background-color: #ebefe2;
}

.main-about_head_wrapper {
	display: block;
	position: relative;
	max-width: 100%;
	height: 100%;
	background-image: url("../img/about_header.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	line-height: 63px;
	margin: 20px;
}

.main-about_who_h-big {
	display: block;
	position: relative;
	max-width: 100%;
	font-family: Webissimo-Regular , serif;
	font-size: 63px;
	margin: 0;
}

.main-about_delim {
	display: block;
	position: relative;
	stroke: #373e42;
	stroke-width: 3px;
	height: 3px;
	width: 89px;
	max-width: 100%;
	margin: 17px auto;
}


.main-about_who_h-small {
	display: inline-block;
	max-width: 100%;
	font-family: Webissimo-Regular , serif;
	font-size: 35px;
}

.main-about_photo-about {
	display: inline-block;
	max-width: 437px;
	max-height: 390px;
}

.main-about_photo-about_ava {
	max-width: 100%;
}



.who {
	display: inline-block;
	float: left;
	width: 26%;
	min-height: 100%;
	background-color: #ebefe2;
}

.why {
	display: inline-block;
	float: left;
	width: 50%;
	min-height: 100%;
	background-color: #f3f4ee;
}


