body {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	width: 100%;

	@media screen and (min-width: 1200px) {
		max-width: 1800px;
		background-image: url("../img/back1800.jpg");
	}

	@media screen and (max-width: 1200px) {
		max-width: 1200px;
		background-image: url("../img/back1200.jpg");
		}

	@media screen and (max-width: 768px) {
		max-width: 768px;
		background-image: url("../img/back768.jpg");
		}

	@media screen and (max-width: 320px) {
		max-width: 320px;
		background-image: url("../img/back320.jpg");
		}
}

.wrapper {
	display: inline-block;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;

}


.header {
	position: relative;
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
}

.autorization {
	display: block;
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 20px;
	width: 147px;
	height: 40px;
	font-family: Roboto-Medium, serif;
	font-size: 14px;
	color: #fff;
	background-color: transparent;
	margin: 10px auto;
}

.main {
	display: block;
	border-radius: 0px;
	
	@media screen and (min-width: 1200px) {
		width: 380px;
		height: 100%;
		min-height: 600px;
	};

	@media screen and (max-width: 1200px) {
		width: 300px;
		height: 100%;
		min-height: 500px;
	};

	@media screen and (max-width: 768px) {
		width: 300px;
		height: 100%;
		min-height: 450px;
	};

	@media screen and (max-width: 320px) {
		width: 300px;
		min-height: 395px;
	};

	height: 100%;
	margin: 35px auto 0;
	position: relative;
	text-align: center;
}

.main-hover:hover {
	background-color: rgba(18, 38, 32, 0.6);
}

.main_break {
	display: block;
	position: relative;
	min-height: 40px;
}

.main_photo {
	display: block;
	position: relative;
	width: 141px;
	height: 141px;
	margin: 0 auto;
}

.main_name {
	display: block;
	font-family: Roboto-Medium, serif;
	color:  rgba(255, 255, 255, 0.95);
	font-size: 21px;
	font-weight: 500;
	line-height: 21px;
	text-align: center;	
	margin: 20px auto 10px;
}

.main_note {
	display: block;
	font-family: Roboto-Medium, serif;
	color:  rgba(255, 255, 255, 0.55);
	font-size: 14px;
	font-weight: 100;
	line-height: 16px;
	text-align: center;	
	margin: 10px auto;
}

.ava {
	border-radius: 50%;
}

.social {
	display: block;
	position: relative;
	vertical-align: middle;
	height: 92px;
	width: 170px;
	margin: 0 auto;
}

.social_list {
	position: absolute;
	top: 50%;
	transform: translate(0, -70%);
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
	margin: 0 auto;
}

.social_list-link {
	height: 35px;
	line-height: 30px;
}

.social_list-item {
	margin: 0 13px 0 13px;
}

.social_list-item:hover {
	background-color:  rgba(255, 255, 255, 0.55);
}



.nav_social_svg {
	display: inline-block;
	fill: #000;
	opacity: 0.7;
	vertical-align: middle;
}

.nav {
	display: block;
	position: relative;
	height: 46px;
	line-height: 46px;
	width: 100%;
	margin: 0 auto;
	background-color: #689858;
}

.nav_list {
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
	margin: 0 auto;
}

.nav_list-item {
	display: inline-block;
	max-width: 100%;
	height: 46px;	
	top: 50%;
	font-family: Roboto-Medium;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
  text-decoration: none;
  padding: 0 23px 0 18px;
}

.nav_list-item:hover {
	background-color:  rgba(255, 255, 255, 0.55);
}

.nav_list-item-separator {
	display: inline-block;
	height: 46px;	
	top: 50%;
	width: 0;
  border-left: 2px solid #fff;

}

.nav_list-link {
}

.social_svg {
	display: inline-block;
	height: 26px;
	width: 100%;
}

.hamburger {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 35px;
}

.footer {
	display: block;

	@media screen and (min-width: 1200px) {
		height: 73px;
		margin-top: -73px;
	}

	@media screen and (max-width: 1200px) {
		height: 63px;
		margin-top: -63px;
		}

	@media screen and (max-width: 768px) {
		height: 63px;
		margin-top: -63px;
		}

	@media screen and (max-width: 320px) {
		height: 54px;
		margin-top: -54px;
		}

	position: relative;
	font-family: Roboto-Light;
	color: rgba(255, 255, 255, 0.55);
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}

.footer-nav {
	display: block;
	background-color: rgba(57, 62, 66, 0.85);
	@media screen and (min-width: 1200px) {
		height: 149px;
		margin-top: -218px;
	}

	@media screen and (max-width: 1200px) {
		height: 149px;
		margin-top: -208px;
		}

	@media screen and (max-width: 768px) {
		height: 237px;
		margin-top: -296px;
		}

	@media screen and (max-width: 320px) {
		height: 288px;
		margin-top: -338px;
		}

	position: relative;
}

.footer_copyrights, .footer_comments {
	display: block;
	
}

.footer-colored {
	background-color: rgba(108, 156, 90, 0.85);
}
