- var socials = ["vk", "git", "in"];
- var socials_img = ["assets/img/icons/vk.svg", "assets/img/icons/github.svg", "assets/img/icons/in.svg"];
- var socials_links = ["#", "#", "#"];
- var navs = ["Мои работы", "Обо мне", "Блог"];
- var navs_links = ["index.html", "about.html", "index.html"];

- var frontend_skills = ["HTML5", "CSS3", "JavaScript & jQuery"];
- var backend_skills = ["PHP", "mySQL", "Node.js & npm", "Mongo.db"];
- var workflow_skills = ["Git", "Gulp", "Bower"];

head
  meta(charset='utf-8')
  title Личный сайт / Personal page
  meta(content='' name='author')
  meta(content='' name='description')
  meta(content='' name='keywords')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(content='ie=edge' http-equiv='x-ua-compatible')
  //- favicon block start
  link(rel="icon",type="image/png" href="assets/img/forest.png")
  //- favicon block end
  link(rel='stylesheet' href='assets/css/foundation.css')
  link(rel='stylesheet' href='assets/css/app.css')
  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/app.js' defer)
  
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIeuyLk6NEAHL4kNbjCSKb9eW3GGKU97M")
